<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <SourceOrg>Compass Group</SourceOrg>
    <SourceNetworks>
        <Network>Python Test Appliance</Network>
        <Network>Python Test Switch</Network>
        <Network>Python Test Wireless</Network>
    </SourceNetworks>
    <NewNetwork>LAB-Python</NewNetwork>
</settings>
