<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <SourceOrg>Compass Group</SourceOrg>
    <DestinationOrg>Compass Group Field Sites</DestinationOrg>
    <SourceNetworks>
        <Network>Python Test Wireless</Network>
    </SourceNetworks>
    <NewNetwork>LAB-Python</NewNetwork>
    <NewTemplate>Canteen without 172.0</NewTemplate>
</settings>
